.datatable {
    // height: calc(100vh - 50px);
    
    padding: 20px;

    .datatableTitle{
        width: 100%;
        font-size: 24px;
        color: #999;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .addBtn{
            font-size: 20px;
            font-weight: 700;
            padding: 10px;
            color: lightcoral;
            background-color: rgba(240, 128, 128, 0.162);
            border-radius: 5px;
            cursor: pointer;
        }

    }

    .cellWithImg {
        display: flex;
        align-items: center;

        .cellImg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .cellWithStatus {
        padding: 5px;
        border-radius: 5px;

        &.active {
            color: green;
            background-color: rgba(0, 128, 0, 0.196);
        }

        &.pending {
            color: goldenrod;
            background-color: rgba(218, 165, 32, 0.148);
        }

        &.passive {
            color: crimson;
            background-color: rgba(220, 20, 60, 0.16);
        }
    }

    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;

        .viewBtn {
            padding: 2px 5px;
            border-radius: 5px;
            color: blue;
            border: 1px solid rgba(0, 0, 139, 0.603);
            cursor: pointer;
        }

        .deleteBtn {
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px solid rgba(220, 20, 60, 0.623);
            cursor: pointer;
        }
    }
}